<div class="card">
  <div class="card-header">
    <i class="fa fa-exchange"></i>{{'JOURNEYS' | translate}}
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>{{'VEHICLE' | translate}}</th>
        <th>{{'KM_COUNT' | translate}}</th>
        <th>{{'START_TIME' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let journey of journeys" class="cursor-pointer selectable-row" (click)="goToJourneyDetail(journey.id, journey.vehicle.id)">
        <td>
          <div class="d-flex">
            <div *ngIf="getImage(journey.vehicle.image_id)" class="header-image img-circle mr-2" [ngStyle]="{'background-image': ' url(' + getImage(journey.vehicle.image_id) + ')'}"></div>
            <div *ngIf="!getImage(journey.vehicle.image_id)" class="header-image img-circle mr-2" [ngStyle]="{'background-image': ' url(assets/img/car_image_placeholder.png)'}"></div>
            <div>
              <a [routerLink]="['/vehicles/' + journey.vehicle.id + '/detail']">{{journey.vehicle.license_plate}}</a>
              <div class="small">{{journey.vehicle.make}} {{journey.vehicle.model}}</div>
            </div>
          </div>
        </td>
        <td>
          {{getKmCount(journey) ? getKmCount(journey) + ' km' : '-'}}
        </td>
        <td>{{journey.start_time | date}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
