<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-{{modalData.type}}" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{modalData.titleStringKey | translate}}</h4>
        <button type="button" class="close" (click)="onModalClosed(false)" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{modalData.bodyStringKey | translate}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onModalClosed(false)">{{modalData.negativeButtonText | translate}}</button>
        <button type="button" class="btn btn-{{modalData.type}}" (click)="onModalClosed(true)">{{modalData.positiveButtonText | translate}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
