<div class="card" [ngClass]="{'mb-0': vehicleModel}">
  <div class="card-header">
    <i class="fa fa-calendar"></i>{{'EVENTS' | translate}}
    <button type="button" class="btn btn-sm btn-success float-right ml-1" (click)="toggleSearch()">
      <i class="fa fa-search"></i>
      {{ searchButtonStringKey | translate }}
    </button>
    <button type="button" class="btn btn-sm btn-primary float-right" (click)="navigateToCreate()" *ngIf="vehicleModel">
      <i class="fa fa-plus"></i>
      {{ 'ADD_EVENT' | translate }}
    </button>
  </div>
  <form class="card-body" [formGroup]="searchForm" (ngSubmit)="search()" *ngIf="isSearchOpen">

    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'EVENT_TYPE' | translate}}</label>
          <select formControlName="eventType" class="form-control" [compareWith]="SelectUtils.compareByValue">
            <option value="">{{'UNSELECTED' | translate}}</option>
            <option *ngFor="let eventType of eventTypes" [ngValue]="eventType">
              {{ eventType | translate }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'TIME_FROM' | translate}}</label>
          <input
            type="date"
            class="form-control"
            placeholder="{{'TIME_FROM' | translate}}"
            formControlName="timeFrom">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'TIME_TO' | translate}}</label>
          <input
            type="date"
            class="form-control"
            placeholder="{{'TIME_TO' | translate}}"
            formControlName="timeTo">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12" *ngIf="vehicleModel">
        <div class="form-group">
          <label>{{'DESCRIPTION' | translate}}</label>
          <input
            type="text"
            class="form-control"
            placeholder="{{'DESCRIPTION' | translate}}"
            formControlName="description">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12" *ngIf="!vehicleModel">
        <div class="form-group">
          <label>{{'LICENSE_PLATE' | translate}}</label>
          <input
            type="text"
            class="form-control"
            placeholder="{{'LICENSE_PLATE' | translate}}"
            formControlName="licensePlate">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'KM_COUNTER_FROM' | translate}}</label>
          <input
            type="number"
            min="0"
            class="form-control"
            placeholder="{{'KM_COUNTER_FROM' | translate}}"
            formControlName="kmCounterFrom">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'KM_COUNTER_TO' | translate}}</label>
          <input
            type="number"
            min="0"
            class="form-control"
            placeholder="{{'KM_COUNTER_TO' | translate}}"
            formControlName="kmCounterTo">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'PRICE_FROM' | translate}}</label>
          <input
            type="number"
            min="0"
            class="form-control"
            placeholder="{{'PRICE_FROM' | translate}}"
            formControlName="priceFrom">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'PRICE_TO' | translate}}</label>
          <input
            type="number"
            min="0"
            class="form-control"
            placeholder="{{'PRICE_TO' | translate}}"
            formControlName="priceTo">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'USER_NAME' | translate}}</label>
          <input
            type="text"
            class="form-control"
            placeholder="{{'USER_NAME' | translate}}"
            formControlName="userName">
        </div>
      </div>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-danger" (click)="resetSearch()">
        <i class="fa fa-ban"></i>
        {{ 'RESET' | translate }}
      </button>
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-search"></i>
        {{ 'SEARCH' | translate }}
      </button>
    </div>

  </form>
  <div class="card-body">
    <div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th *ngIf="!vehicleModel">{{'VEHICLE' | translate}}</th>
        <th>{{'EVENT_TYPE' | translate}}</th>
        <th tableSorter [stringKey]="'TIME'" [sorterField]="'time'" [sortingHelper]="sortingHelper" (sortingEvent)="loadEvents()"></th>
        <th tableSorter [stringKey]="'KM_COUNTER'" [sorterField]="'km_counter'" [sortingHelper]="sortingHelper" (sortingEvent)="loadEvents()" class="d-none d-md-table-cell" *ngIf="vehicleModel"></th>
        <th tableSorter [stringKey]="'EXPENSES'" [sorterField]="'price'" [sortingHelper]="sortingHelper" (sortingEvent)="loadEvents()" class="d-none d-lg-table-cell">{{'EXPENSES' | translate}}</th>
        <th class="text-center d-none d-xl-table-cell">{{'HAS_LOCATION' | translate}}</th>
        <th class="text-center d-none d-xl-table-cell">{{'USER_NAME' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of events" class="cursor-pointer selectable-row" (click)="goToEventDetail(event.id, event.vehicle.id)">
        <td *ngIf="!vehicleModel">
          <div class="d-flex">
            <div *ngIf="getImage(event.vehicle.image_id)" class="header-image img-circle mr-2" [ngStyle]="{'background-image': ' url(' + getImage(event.vehicle.image_id) + ')'}"></div>
            <div *ngIf="!getImage(event.vehicle.image_id)" class="header-image img-circle mr-2" [ngStyle]="{'background-image': ' url(assets/img/car_image_placeholder.png)'}"></div>
            <div>
              <a [routerLink]="['/vehicles/' + event.vehicle.id + '/detail']">{{event.vehicle.license_plate}}</a>
              <div class="small">{{event.vehicle.make}} {{event.vehicle.model}}</div>
            </div>
          </div>
        </td>
        <td>
          {{getEventTypeStringKey(event) | translate}}
        </td>
        <td>
          {{event.time | date}}
        </td>
        <td class="d-none d-sm-table-cell" *ngIf="vehicleModel">
          {{event.km_counter | number}} km
        </td>
        <td class="d-none d-lg-table-cell">{{event.price ? event.price + ' Ft' : '-'}}</td>
        <td class="text-center d-none d-xl-table-cell">
          <i class="fa fa-{{hasLocation(event) ? 'check' : 'times'}}" [ngStyle]="{'color': hasLocation(event) ? 'green' : 'red'}"></i>
          <span class="badge badge-pill badge-"></span>
        </td>
        <td class="text-center d-none d-xl-table-cell">
          <a [routerLink]="" (click)="navigateToUserDetail(event.creator_user_id)">{{event.creator_user}}</a>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination [totalItems]="pagingHelper.totalItems" [(ngModel)]="pagingHelper.currentPage" [maxSize]="pagingHelper.maxSize" class="pagination"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>
