<div class="card">
  <div class="card-header">
    <i class="fa fa-user"></i>{{'ORGANISATION_MEMBERS' | translate}}
    <button type="button" class="btn btn-sm btn-success float-right" (click)="toggleSearch()">
      <i class="fa fa-search"></i>
      {{ searchButtonStringKey | translate }}
    </button>
  </div>
  <form class="card-body" [formGroup]="searchForm" (ngSubmit)="search()" *ngIf="isSearchOpen">

    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'FIRST_NAME' | translate}}</label>
          <input
            type="text"
            class="form-control"
            placeholder="{{'FIRST_NAME' | translate}}"
            formControlName="firstName">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'LAST_NAME' | translate}}</label>
          <input
            type="text"
            class="form-control"
            placeholder="{{'LAST_NAME' | translate}}"
            formControlName="lastName">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'USER_NAME' | translate}}</label>
          <input
            type="text"
            class="form-control"
            placeholder="{{'USER_NAME' | translate}}"
            formControlName="userName">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'DRIVING_LICENSE_EXPIRY_FROM' | translate}}</label>
          <input
            type="date"
            class="form-control"
            placeholder="{{'DRIVING_LICENSE_EXPIRY_FROM' | translate}}"
            formControlName="drivingLicenseExpiryFrom">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'DRIVING_LICENSE_EXPIRY_TO' | translate}}</label>
          <input
            type="date"
            class="form-control"
            placeholder="{{'DRIVING_LICENSE_EXPIRY_TO' | translate}}"
            formControlName="drivingLicenseExpiryTo">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'ROLE' | translate}}</label>
          <select formControlName="role" class="form-control" [compareWith]="SelectUtils.compareByValue">
            <option *ngFor="let role of roles" [ngValue]="role.value">
              {{ role.key | translate }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-danger" (click)="resetSearch()">
        <i class="fa fa-ban"></i>
        {{ 'RESET' | translate }}
      </button>
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-search"></i>
        {{ 'SEARCH' | translate }}
      </button>
    </div>

  </form>
  <div class="card-body">
    <div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th tableSorter [stringKey]="'NAME'" [sorterField]="'first_name'" [sortingHelper]="sortingHelper" (sortingEvent)="loadUsers()" class="d-none d-lg-table-cell"></th>
        <th tableSorter [stringKey]="'USER_NAME'" [sorterField]="'user_name'" [sortingHelper]="sortingHelper" (sortingEvent)="loadUsers()"></th>
        <th tableSorter [stringKey]="'EMAIL'" [sorterField]="'email'" [sortingHelper]="sortingHelper" (sortingEvent)="loadUsers()" class="d-none d-md-table-cell"></th>
        <th class="text-center d-none d-sm-table-cell">{{'IS_ADMIN' | translate}}</th>
        <th *ngIf="isCurrentUserAdmin()">{{'ACTIONS' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td class="d-none d-lg-table-cell">{{user.first_name}} {{user.last_name}}</td>
        <td>
          <a [routerLink]="['/users/' + user.id + '/detail']">{{user.user_name}}</a>
        </td>
        <td class="d-none d-md-table-cell">{{user.email}}</td>
        <td class="text-center d-none d-sm-table-cell">
          <input type="checkbox" (click)="toggleAdmin($event, isAdmin(user.role), user.id)" [checked]="isAdmin(user.role)" [disabled]="!isCurrentUserAdmin()">
        </td>
        <td *ngIf="isCurrentUserAdmin()">
          <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeUser(user.id)">
            <i class="fa fa-trash"></i>
            {{ 'REMOVE' | translate }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination [totalItems]="pagingHelper.totalItems" [(ngModel)]="pagingHelper.currentPage" [maxSize]="pagingHelper.maxSize" class="pagination"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>
