<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          {{'JOURNEY_DATA' | translate}}
        </div>
        <div class="card-body">
          <form [formGroup]="journeyForm" (ngSubmit)="onSubmit()" id="journeyForm" class="form-horizontal">

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'START_TIME' | translate}}</label>
              <div class="col-md-8" *ngIf="!componentStateHelper.isReadonlyView()">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('startTime', 'start_time')}"
                  (ngModelChange)="removeRemoteValidationError('start_time')"
                  type="date"
                  max="{{date | date:'yyyy-MM-dd'}}"
                  class="form-control"
                  placeholder="{{'START_TIME' | translate}}"
                  formControlName="startTime">
                <ng-container *ngIf="hasLocalValidationError('startTime')">
                  <div *ngIf="startTime.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('start_time')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['start_time']}}</div>
                </ng-container>
              </div>
              <label *ngIf="componentStateHelper.isReadonlyView()" class="col-md-8 col-form-label">{{ journeyModel.start_time }}</label>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'FINISH_TIME' | translate}}</label>
              <div class="col-md-8" *ngIf="!componentStateHelper.isReadonlyView()">
                <input
                  [ngClass]="
                      {
                        'is-invalid': hasValidationError('finishTime', 'finish_time')
                          || journeyForm.errors && journeyForm.errors.dateRange && isTouched('finishTime')
                      }"
                  (ngModelChange)="removeRemoteValidationError('finish_time')"
                  type="date"
                  max="{{date | date:'yyyy-MM-dd'}}"
                  class="form-control"
                  placeholder="{{'FINISH_TIME' | translate}}"
                  formControlName="finishTime">
                <ng-container *ngIf="hasLocalValidationError('finishTime')">
                  <div *ngIf="finishTime.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('finish_time')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['finish_time']}}</div>
                </ng-container>
                <ng-container *ngIf="journeyForm.errors && journeyForm.errors.dateRange">
                  <div class="invalid-feedback">{{'ERROR_INVALID_RANGE' | translate}}</div>
                </ng-container>
              </div>
              <label *ngIf="componentStateHelper.isReadonlyView()" class="col-md-8 col-form-label">{{ journeyModel.finish_time }}</label>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'START_KM' | translate}}</label>
              <div class="col-md-8" *ngIf="!componentStateHelper.isReadonlyView()">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('startKm', 'start_km')}"
                  (ngModelChange)="removeRemoteValidationError('start_km')"
                  type="number"
                  min="0"
                  class="form-control"
                  placeholder="{{'START_KM' | translate}}"
                  formControlName="startKm">
                <ng-container *ngIf="hasLocalValidationError('startKm')">
                  <div *ngIf="startKm.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('start_km')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['start_km']}}</div>
                </ng-container>
              </div>
              <label *ngIf="componentStateHelper.isReadonlyView()" class="col-md-8 col-form-label">{{ journeyModel.start_km | number}} km</label>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'FINISH_KM' | translate}}</label>
              <div class="col-md-8" *ngIf="!componentStateHelper.isReadonlyView()">
                <input

                  [ngClass]="
                      {
                        'is-invalid': hasValidationError('finishKm', 'finish_km')
                          || journeyForm.errors && journeyForm.errors.kmRange && isTouched('finishKm')
                      }"
                  (ngModelChange)="removeRemoteValidationError('finish_km')"
                  type="number"
                  min="0"
                  class="form-control"
                  placeholder="{{'FINISH_KM' | translate}}"
                  formControlName="finishKm">
                <ng-container *ngIf="hasLocalValidationError('finishKm')">
                  <div *ngIf="finishKm.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('finish_km')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['finish_km']}}</div>
                </ng-container>
                <ng-container *ngIf="journeyForm.errors && journeyForm.errors.kmRange">
                  <div class="invalid-feedback">{{'ERROR_INVALID_RANGE' | translate}}</div>
                </ng-container>
              </div>
              <label *ngIf="componentStateHelper.isReadonlyView()" class="col-md-8 col-form-label">{{ journeyModel.finish_km ? (journeyModel.finish_km | number) + ' km' : ''}}</label>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'DESCRIPTION' | translate}}</label>
              <div class="col-md-8" *ngIf="!componentStateHelper.isReadonlyView()">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('description', 'description')}"
                  (ngModelChange)="removeRemoteValidationError('description')"
                  type="text"
                  class="form-control"
                  placeholder="{{'DESCRIPTION' | translate}}"
                  formControlName="description">
                <ng-container *ngIf="hasLocalValidationError('description')">
                  <div *ngIf="description.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('description')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['description']}}</div>
                </ng-container>
              </div>
              <label *ngIf="componentStateHelper.isReadonlyView() " class="col-md-8 col-form-label">{{ journeyModel.description }}</label>
            </div>

            <div class="form-group row" *ngIf="componentStateHelper.isReadonlyView()">
              <label class="col-md-4 col-form-label font-weight-light">{{'USER' | translate}}</label>
              <a class="ml-3" [routerLink]="" (click)="navigateToUserDetail(journeyModel.creator_user_id)">{{journeyModel.creator_user}}</a>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button *ngIf="!componentStateHelper.isReadonlyView()" type="submit" form="journeyForm" class="btn btn-sm btn-success"><i class="fa fa-check"></i> {{ 'SAVE' | translate }}</button>
          <button *ngIf="!componentStateHelper.isReadonlyView()" type="button" (click)="navigateBack()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{ 'CANCEL' | translate }}</button>
          <button *ngIf="componentStateHelper.isReadonlyView() && (isAdmin() || isMine())" type="button" (click)="edit()" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> {{ 'EDIT' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          {{'MAP' | translate}}
        </div>
        <div class="card-body">
          <div class="form-horizontal">
            <div style="height: 400px;"
                 #leaflet
                 leaflet
                 (leafletClick)="onMapClick($event)"
                 [leafletLayers]="leafletMarkers"
                 [leafletOptions]="leafletOptions"
                 [(leafletCenter)]="leafletCenter">
            </div>
          </div>
        </div>
        <div class="card-footer" *ngIf="!componentStateHelper.isReadonlyView() && leafletMarkers.length > 0" >
          <button type="button" class="btn btn-sm btn-danger" (click)="resetMarkers()"><i class="fa fa-refresh"></i> {{ 'RESET' | translate }}</button>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
