<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          {{'ORGANISATION_DATA' | translate}}
        </div>
        <div class="card-body">
          <form [formGroup]="organisationForm" (ngSubmit)="onSubmit()" id="organisationForm" class="form-horizontal">

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'NAME' | translate}}</label>
              <div class="col-md-8" *ngIf="!componentStateHelper.isReadonlyView()">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('name', 'name')}"
                  (ngModelChange)="removeRemoteValidationError('name')"
                  type="text"
                  class="form-control"
                  placeholder="{{'NAME' | translate}}"
                  formControlName="name">
                <ng-container *ngIf="hasLocalValidationError('name')">
                  <div *ngIf="name.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('name')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['name']}}</div>
                </ng-container>
              </div>
              <label *ngIf="componentStateHelper.isReadonlyView()" class="col-md-8 col-form-label">{{ organisationModel.name }}</label>
            </div>

            <alert *ngIf="serverErrors.globalError" [type]="'danger'">
              <div>
                <strong>{{'VALIDATION_ERROR' | translate}}</strong>
              </div>
              <div>
                {{ serverErrors.globalError }}
              </div>
            </alert>

          </form>
        </div>
        <div class="card-footer" *ngIf="isAdmin()">
          <button *ngIf="!componentStateHelper.isReadonlyView()" type="submit" form="organisationForm" class="btn btn-success"><i class="fa fa-check"></i> {{ 'SAVE' | translate }}</button>
          <button *ngIf="!componentStateHelper.isReadonlyView()" type="button" (click)="navigateBack()" class="btn btn-danger"><i class="fa fa-ban"></i> {{ 'CANCEL' | translate }}</button>
          <button *ngIf="componentStateHelper.isReadonlyView() && isAdmin()" type="button" (click)="edit()" class="btn btn-primary"><i class="fa fa-pencil"></i> {{ 'EDIT' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="isAdmin()">
      <div class="card">
        <div class="card-header">
          {{'INVITE' | translate}}
        </div>
        <div class="card-body">
          <div class="form-horizontal">

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'INVITE_CODE' | translate}}</label>
              <label class="col-md-8 col-form-label">{{ organisationModel.invite_code }}</label>
            </div>

          </div>
        </div>
        <div class="card-footer" *ngIf="componentStateHelper.isReadonlyView()" >
          <button type="button" (click)="warningModal.show()" class="btn btn-warning"><i class="fa fa-recycle"></i> {{ 'RENEW' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <app-organisation-user-list
        [organisationId]="id">
      </app-organisation-user-list>
    </div>
  </div><!--/.row-->
</div>

<div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'RENEW_INVITE_CODE' | translate }}</h4>
        <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'RENEW_INVITE_CODE_HINT' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">{{'CANCEL' | translate}}</button>
        <button type="button" class="btn btn-warning" (click)="refreshInviteCode();warningModal.hide()">{{'RENEW' | translate}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
