<div class="animated fadeIn">
  <alert type="info">
    {{'ORGANISATION_CREATE_OR_JOIN_HINT' | translate}}
  </alert>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          {{'JOIN_ORGANISATION' | translate}}
        </div>
        <div class="card-body">
          <form [formGroup]="joinForm" (ngSubmit)="onJoinSubmit()" id="joinForm" class="form-horizontal">

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'INVITE_CODE' | translate}}</label>
              <div class="col-md-8">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('inviteCode', 'invite_code', joinForm, joinServerErrors)}"
                  (ngModelChange)="removeRemoteValidationError('invite_code', joinServerErrors)"
                  type="text"
                  class="form-control"
                  placeholder="{{'INVITE_CODE' | translate}}"
                  formControlName="inviteCode">
                <ng-container *ngIf="hasLocalValidationError('inviteCode', joinForm)">
                  <div *ngIf="inviteCode.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('invite_code', joinServerErrors)">
                  <div class="invalid-feedback">{{joinServerErrors.fieldErrors['invite_code']}}</div>
                </ng-container>
              </div>
            </div>

            <alert *ngIf="joinServerErrors.globalError" [type]="'danger'">
              <div>
                <strong>{{'VALIDATION_ERROR' | translate}}</strong>
              </div>
              <div>
                {{ joinServerErrors.globalError }}
              </div>
            </alert>

          </form>
        </div>
        <div class="card-footer">
          <button type="submit" form="joinForm" class="btn btn-sm btn-warning"><i class="fa fa-circle-o"></i> {{ 'JOIN' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          {{'CREATE_ORGANISATION' | translate}}
        </div>
        <div class="card-body">
          <form [formGroup]="createForm" (ngSubmit)="onCreateSubmit()" id="createForm" class="form-horizontal">

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'ORGANISATION_NAME' | translate}}</label>
              <div class="col-md-8">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('name', 'name', createForm, createServerErrors)}"
                  (ngModelChange)="removeRemoteValidationError('name', createServerErrors)"
                  type="text"
                  class="form-control"
                  placeholder="{{'ORGANISATION_NAME' | translate}}"
                  formControlName="name">
                <ng-container *ngIf="hasLocalValidationError('name', createForm)">
                  <div *ngIf="name.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('name', createServerErrors)">
                  <div class="invalid-feedback">{{createServerErrors.fieldErrors['name']}}</div>
                </ng-container>
              </div>
            </div>

            <alert *ngIf="createServerErrors.globalError" [type]="'danger'">
              <div>
                <strong>{{'VALIDATION_ERROR' | translate}}</strong>
              </div>
              <div>
                {{ createServerErrors.globalError }}
              </div>
            </alert>

          </form>
        </div>
        <div class="card-footer">
          <button type="submit" form="createForm" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> {{ 'CREATE' | translate }}</button>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
