<div class="card" [ngClass]="{'mb-0': vehicleModel}">
  <div class="card-header">
    <i class="fa fa-exchange"></i>{{'JOURNEYS' | translate}}
    <button type="button" class="btn btn-sm btn-success float-right ml-1" (click)="toggleSearch()">
      <i class="fa fa-search"></i>
      {{ searchButtonStringKey | translate }}
    </button>
    <button type="button" class="btn btn-sm btn-primary float-right" (click)="navigateToCreate()" *ngIf="vehicleModel">
      <i class="fa fa-plus"></i>
      {{ 'ADD_JOURNEY' | translate }}
    </button>
  </div>
  <form class="card-body" [formGroup]="searchForm" (ngSubmit)="search()" *ngIf="isSearchOpen">

    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'START_TIME_FROM' | translate}}</label>
          <input
            type="date"
            class="form-control"
            placeholder="{{'START_TIME_FROM' | translate}}"
            formControlName="startTimeFrom">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'START_TIME_TO' | translate}}</label>
          <input
            type="date"
            class="form-control"
            placeholder="{{'START_TIME_TO' | translate}}"
            formControlName="startTimeTo">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'FINISH_TIME_FROM' | translate}}</label>
          <input
            type="date"
            class="form-control"
            placeholder="{{'FINISH_TIME_FROM' | translate}}"
            formControlName="finishTimeFrom">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'FINISH_TIME_TO' | translate}}</label>
          <input
            type="date"
            class="form-control"
            placeholder="{{'FINISH_TIME_TO' | translate}}"
            formControlName="finishTimeTo">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'USER_NAME' | translate}}</label>
          <input
            type="text"
            class="form-control"
            placeholder="{{'USER_NAME' | translate}}"
            formControlName="userName">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12" *ngIf="vehicleModel">
        <div class="form-group">
          <label>{{'DESCRIPTION' | translate}}</label>
          <input
            type="text"
            class="form-control"
            placeholder="{{'DESCRIPTION' | translate}}"
            formControlName="description">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12" *ngIf="!vehicleModel">
        <div class="form-group">
          <label>{{'LICENSE_PLATE' | translate}}</label>
          <input
            type="text"
            class="form-control"
            placeholder="{{'LICENSE_PLATE' | translate}}"
            formControlName="licensePlate">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'START_KM_FROM' | translate}}</label>
          <input
            type="number"
            min="0"
            class="form-control"
            placeholder="{{'START_KM_FROM' | translate}}"
            formControlName="startKmFrom">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'START_KM_TO' | translate}}</label>
          <input
            type="number"
            min="0"
            class="form-control"
            placeholder="{{'START_KM_TO' | translate}}"
            formControlName="startKmTo">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'FINISH_KM_FROM' | translate}}</label>
          <input
            type="number"
            min="0"
            class="form-control"
            placeholder="{{'FINISH_KM_FROM' | translate}}"
            formControlName="finishKmFrom">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'FINISH_KM_TO' | translate}}</label>
          <input
            type="number"
            min="0"
            class="form-control"
            placeholder="{{'FINISH_KM_TO' | translate}}"
            formControlName="finishKmTo">
        </div>
      </div>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-danger" (click)="resetSearch()">
        <i class="fa fa-ban"></i>
        {{ 'RESET' | translate }}
      </button>
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-search"></i>
        {{ 'SEARCH' | translate }}
      </button>
    </div>

  </form>
  <div class="card-body">
    <div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th *ngIf="!vehicleModel">{{'VEHICLE' | translate}}</th>
        <th class="d-none d-sm-table-cell" >{{'KM_COUNT' | translate}}</th>
        <th tableSorter [stringKey]="'START_TIME'" [sorterField]="'start_time'" [sortingHelper]="sortingHelper" (sortingEvent)="loadJourneys()"></th>
        <th tableSorter [stringKey]="'FINISH_TIME'" [sorterField]="'finish_time'" [sortingHelper]="sortingHelper" (sortingEvent)="loadJourneys()" class="d-none d-lg-table-cell"></th>
        <th class="text-center d-none d-xl-table-cell">{{'HAS_LOCATION' | translate}}</th>
        <th class="text-center d-none d-xl-table-cell">{{'USER_NAME' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let journey of journeys" class="cursor-pointer selectable-row" (click)="goToJourneyDetail(journey.id, journey.vehicle.id)">
        <td *ngIf="!vehicleModel">
          <div class="d-flex">
            <div *ngIf="getImage(journey.vehicle.image_id)" class="header-image img-circle mr-2" [ngStyle]="{'background-image': ' url(' + getImage(journey.vehicle.image_id) + ')'}"></div>
            <div *ngIf="!getImage(journey.vehicle.image_id)" class="header-image img-circle mr-2" [ngStyle]="{'background-image': ' url(assets/img/car_image_placeholder.png)'}"></div>
            <div>
              <a [routerLink]="['/vehicles/' + journey.vehicle.id + '/detail']">{{journey.vehicle.license_plate}}</a>
              <div class="small">{{journey.vehicle.make}} {{journey.vehicle.model}}</div>
            </div>
          </div>
        </td>
        <td class="d-none d-sm-table-cell">
          {{getKmCount(journey) ? getKmCount(journey) + ' km' : '-'}}
        </td>
        <td>{{journey.start_time | date}}</td>
        <td class="d-none d-lg-table-cell">{{journey.finish_time | date}}</td>
        <td class="text-center d-none d-xl-table-cell">
          <i class="fa fa-{{hasLocation(journey) ? 'check' : 'times'}}" [ngStyle]="{'color': hasLocation(journey) ? 'green' : 'red'}"></i>
          <span class="badge badge-pill badge-"></span>
        </td>
        <td class="text-center d-none d-xl-table-cell">
          <a [routerLink]="" (click)="navigateToUserDetail(journey.creator_user_id)">{{journey.creator_user}}</a>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination [totalItems]="pagingHelper.totalItems" [(ngModel)]="pagingHelper.currentPage" [maxSize]="pagingHelper.maxSize" class="pagination"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>
