// Here you can add other styles
.register-hint {
  width: 44%;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }

}

.cursor-pointer {
  cursor: pointer;
}

.table-striped tbody .selectable-row:hover {
  background-color: rgba(32, 168, 216, 0.1);
}

.header-image {
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: center;
}
