<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          {{'EVENT_DATA' | translate}}
        </div>
        <div class="card-body">
          <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" id="eventForm" class="form-horizontal">

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'EVENT_TYPE' | translate}}</label>
              <div class="col-md-8" *ngIf="componentStateHelper.isCreateView()">
                <select class="form-control" formControlName="eventType"
                        [compareWith]="SelectUtils.compareByValue"
                        [ngClass]="{ 'is-invalid': hasValidationError('eventType', 'event_type')}"
                        (ngModelChange)="removeRemoteValidationError('event_type')">
                  <option value="">{{'UNSELECTED' | translate}}</option>
                  <option *ngFor="let eventType of eventTypes" [ngValue]="eventType">
                    {{getEventTypeStringKey(eventType) | translate}}
                  </option>
                </select>
                <ng-container *ngIf="hasLocalValidationError('eventType')">
                  <div *ngIf="eventType.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('event_type')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['event_type']}}</div>
                </ng-container>
              </div>
              <label *ngIf="!componentStateHelper.isCreateView()" class="col-md-8 col-form-label">{{getEventTypeStringKey(eventModel.event_type) | translate}}</label>
            </div>

            <div class="form-group row" *ngIf="eventType.value">
              <label class="col-md-4 col-form-label font-weight-light">{{'TIME' | translate}}</label>
              <div class="col-md-8" *ngIf="!componentStateHelper.isReadonlyView()">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('time', 'time')}"
                  (ngModelChange)="removeRemoteValidationError('time')"
                  type="date"
                  max="{{date | date:'yyyy-MM-dd'}}"
                  class="form-control"
                  placeholder="{{'TIME' | translate}}"
                  formControlName="time">
                <ng-container *ngIf="hasLocalValidationError('time')">
                  <div *ngIf="time.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('time')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['time']}}</div>
                </ng-container>
              </div>
              <label *ngIf="componentStateHelper.isReadonlyView()" class="col-md-8 col-form-label">{{ eventModel.time }}</label>
            </div>

            <div class="form-group row" *ngIf="eventType.value">
              <label class="col-md-4 col-form-label font-weight-light">{{'KM_COUNTER' | translate}}</label>
              <div class="col-md-8" *ngIf="!componentStateHelper.isReadonlyView()">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('kmCounter', 'km_counter')}"
                  (ngModelChange)="removeRemoteValidationError('km_counter')"
                  type="number"
                  class="form-control"
                  placeholder="{{'KM_COUNTER' | translate}}"
                  formControlName="kmCounter">
                <ng-container *ngIf="hasLocalValidationError('kmCounter')">
                  <div *ngIf="kmCounter.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('km_counter')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['km_counter']}}</div>
                </ng-container>
              </div>
              <label *ngIf="componentStateHelper.isReadonlyView()" class="col-md-8 col-form-label">{{ eventModel.km_counter | number }} km</label>
            </div>

            <div class="form-group row" *ngIf="eventType.value && eventType.value == 'REFUELING_OR_CHARGING'">
              <label class="col-md-4 col-form-label font-weight-light">{{'AMOUNT' | translate}} ({{getFuelTypeMeasurement()}})</label>
              <div class="col-md-8" *ngIf="!componentStateHelper.isReadonlyView()">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('amount', 'amount')}"
                  (ngModelChange)="removeRemoteValidationError('amount')"
                  type="number"
                  class="form-control"
                  placeholder="{{'AMOUNT' | translate}}"
                  formControlName="amount">
                <ng-container *ngIf="hasLocalValidationError('amount')">
                  <div *ngIf="amount.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('amount')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['amount']}}</div>
                </ng-container>
              </div>
              <label *ngIf="componentStateHelper.isReadonlyView()" class="col-md-8 col-form-label">{{ eventModel.amount }}</label>
            </div>

            <div class="form-group row" *ngIf="eventType.value">
              <label class="col-md-4 col-form-label font-weight-light">{{'PRICE' | translate}} (Ft)</label>
              <div class="col-md-8" *ngIf="!componentStateHelper.isReadonlyView()">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('price', 'price')}"
                  (ngModelChange)="removeRemoteValidationError('price')"
                  type="number"
                  class="form-control"
                  placeholder="{{'PRICE' | translate}}"
                  formControlName="price">
                <ng-container *ngIf="hasLocalValidationError('price')">
                  <div *ngIf="price.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('price')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['price']}}</div>
                </ng-container>
              </div>
              <label *ngIf="componentStateHelper.isReadonlyView()" class="col-md-8 col-form-label">{{ eventModel.price | number }}</label>
            </div>

            <div class="form-group row" *ngIf="eventType.value">
              <label class="col-md-4 col-form-label font-weight-light">{{'DESCRIPTION' | translate}}</label>
              <div class="col-md-8" *ngIf="!componentStateHelper.isReadonlyView()">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('description', 'description')}"
                  (ngModelChange)="removeRemoteValidationError('description')"
                  type="text"
                  class="form-control"
                  placeholder="{{'DESCRIPTION' | translate}}"
                  formControlName="description">
                <ng-container *ngIf="hasLocalValidationError('description')">
                  <div *ngIf="description.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('description')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['description']}}</div>
                </ng-container>
              </div>
              <label *ngIf="componentStateHelper.isReadonlyView()" class="col-md-8 col-form-label">{{ eventModel.description }}</label>
            </div>

            <div class="form-group row" *ngIf="componentStateHelper.isReadonlyView()">
              <label class="col-md-4 col-form-label font-weight-light">{{'USER' | translate}}</label>
              <a class="ml-3" [routerLink]="" (click)="navigateToUserDetail(eventModel.creator_user_id)">{{eventModel.creator_user}}</a>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button *ngIf="!componentStateHelper.isReadonlyView()" type="submit" form="eventForm" class="btn btn-sm btn-success"><i class="fa fa-check"></i> {{ 'SAVE' | translate }}</button>
          <button *ngIf="!componentStateHelper.isReadonlyView()" type="button" (click)="navigateBack()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{ 'CANCEL' | translate }}</button>
          <button *ngIf="componentStateHelper.isReadonlyView() && (isAdmin() || isMine())" type="button" (click)="edit()" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> {{ 'EDIT' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          {{'MAP' | translate}}
        </div>
        <div class="card-body">
          <div class="form-horizontal">
            <div style="height: 400px;"
                 #leaflet
                 leaflet
                 (leafletClick)="onMapClick($event)"
                 [leafletLayers]="leafletMarkers"
                 [leafletOptions]="leafletOptions"
                 [(leafletCenter)]="leafletCenter">
            </div>
          </div>
        </div>
        <div class="card-footer" *ngIf="!componentStateHelper.isReadonlyView() && leafletMarkers.length > 0" >
          <button type="button" class="btn btn-sm btn-danger" (click)="resetMarkers()"><i class="fa fa-refresh"></i> {{ 'RESET' | translate }}</button>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
