<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          {{'ACCOUNT_DATA' | translate}}
        </div>
        <div class="card-body">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()" id="userForm" class="form-horizontal">

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'FIRST_NAME' | translate}}</label>
              <div class="col-md-8" *ngIf="!componentStateHelper.isReadonlyView()">
                  <input
                    [ngClass]="{ 'is-invalid': hasValidationError('firstName', 'first_name')}"
                    (ngModelChange)="removeRemoteValidationError('first_name')"
                    type="text"
                    class="form-control"
                    placeholder="{{'FIRST_NAME' | translate}}"
                    formControlName="firstName">
                  <ng-container *ngIf="hasLocalValidationError('firstName')">
                    <div *ngIf="firstName.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                  </ng-container>
                  <ng-container *ngIf="hasRemoteValidationError('first_name')">
                    <div class="invalid-feedback">{{serverErrors.fieldErrors['first_name']}}</div>
                  </ng-container>
              </div>
              <label *ngIf="componentStateHelper.isReadonlyView()" class="col-md-8 col-form-label">{{ userModel.first_name }}</label>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'LAST_NAME' | translate}}</label>
              <div class="col-md-8" *ngIf="!componentStateHelper.isReadonlyView()">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('lastName', 'last_name')}"
                  (ngModelChange)="removeRemoteValidationError('last_name')"
                  type="text"
                  class="form-control"
                  placeholder="{{'LAST_NAME' | translate}}"
                  formControlName="lastName">
                <ng-container *ngIf="hasLocalValidationError('lastName')">
                  <div *ngIf="lastName.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('last_name')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['last_name']}}</div>
                </ng-container>
              </div>
              <label *ngIf="componentStateHelper.isReadonlyView()" class="col-md-8 col-form-label">{{ userModel.last_name }}</label>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'USER_NAME' | translate}}</label>
              <label class="col-md-8 col-form-label">{{ userModel.user_name || '' }}</label>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'EMAIL' | translate}}</label>
              <label class="col-md-8 col-form-label">{{ userModel.email || '' }}</label>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'DRIVING_LICENSE_EXPIRY' | translate}}</label>
              <div class="col-md-8" *ngIf="!componentStateHelper.isReadonlyView()">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('drivingLicenseExpiry', 'driving_license_expiry')}"
                  (ngModelChange)="removeRemoteValidationError('driving_license_expiry')"
                  type="date"
                  class="form-control"
                  placeholder="{{'DRIVING_LICENSE_EXPIRY' | translate}}"
                  formControlName="drivingLicenseExpiry">
                <ng-container *ngIf="hasLocalValidationError('drivingLicenseExpiry')">
                  <div *ngIf="drivingLicenseExpiry.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('driving_license_expiry')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['driving_license_expiry']}}</div>
                </ng-container>
              </div>
              <label *ngIf="componentStateHelper.isReadonlyView()" class="col-md-8 col-form-label">{{ userModel.driving_license_expiry }}</label>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button *ngIf="!componentStateHelper.isReadonlyView()" type="submit" form="userForm" class="btn btn-sm btn-success"><i class="fa fa-check"></i> {{ 'SAVE' | translate }}</button>
          <button *ngIf="!componentStateHelper.isReadonlyView()" type="button" (click)="navigateBack()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{ 'CANCEL' | translate }}</button>
          <button *ngIf="componentStateHelper.isReadonlyView() && isCurrentUser()" type="button" (click)="edit()" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> {{ 'EDIT' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          {{'PROFILE_PICTURE' | translate}}
        </div>
        <div class="card-body">
          <div class="form-horizontal">

            <div *ngFor="let alert of alerts">
              <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <img [src]="profilePictureUrl || profilePicturePlaceholderUrl" class="img-fluid thumbnail" alt="{{'PROFILE_PICTURE' | translate}}">
              </div>
            </div>

            <form class="form-group row" [formGroup]="uploadForm" *ngIf="isCurrentUser()">
              <div class="col-md-12">
                <input type="file" id="profile-picture-input" formControlName="profilePictureUpload" accept="image/x-png,image/gif,image/jpeg" (change)="handleFileInput($event.target.files)">
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer" *ngIf="isCurrentUser() && profilePictureUrl">
          <button type="button" (click)="dangerModal.show()" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> {{ 'DELETE' | translate }}</button>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>

<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'DELETE_PICTURE' | translate }}</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'DELETE_CONFIRM' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">{{'CANCEL' | translate}}</button>
        <button type="button" class="btn btn-danger" (click)="deletePicture();dangerModal.hide()">{{'DELETE' | translate}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
