<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo-wide.png', width: 90, height: 30, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo.png', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false">
  <ul class="nav navbar-nav ml-auto mr-2">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <div class="header-image img-circle" [ngStyle]="{'background-image': ' url(' + getProfilePictureUrl() + ')'}"></div>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" [routerLink]="'/users/me/detail'"><i class="fa fa-user"></i>{{'PROFILE' | translate}}</a>
        <a class="dropdown-item" [routerLink]="" (click)="logout()"><i class="fa fa-lock"></i>{{'LOGOUT' | translate}}</a>
      </div>
    </li>
    <li class="nav-item">
      {{nameAndUserName}}
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
    </cui-breadcrumb>
    <div class="container-fluid">
      <ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"
                   size="medium"
                   color="#fff"
                   type="ball-beat"
                   [fullScreen] = "false">
      </ngx-spinner>
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span></span>
  <span class="ml-auto">Fleetsonic &copy; 2021 Barnabas Lorincz</span>
</app-footer>
<app-modal></app-modal>
