<div class="card">
  <div class="card-header">
    <i class="fa fa-calendar"></i>{{'EVENTS' | translate}}
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>{{'VEHICLE' | translate}}</th>
        <th>{{'EVENT_TYPE' | translate}}</th>
        <th>{{'TIME' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of events" class="cursor-pointer selectable-row" (click)="goToEventDetail(event.id, event.vehicle.id)">
        <td>
          <div class="d-flex">
            <div *ngIf="getImage(event.vehicle.image_id)" class="header-image img-circle mr-2" [ngStyle]="{'background-image': ' url(' + getImage(event.vehicle.image_id) + ')'}"></div>
            <div *ngIf="!getImage(event.vehicle.image_id)" class="header-image img-circle mr-2" [ngStyle]="{'background-image': ' url(assets/img/car_image_placeholder.png)'}"></div>
            <div>
              <a [routerLink]="['/vehicles/' + event.vehicle.id + '/detail']">{{event.vehicle.license_plate}}</a>
              <div class="small">{{event.vehicle.make}} {{event.vehicle.model}}</div>
            </div>
          </div>
        </td>
        <td>
          {{getEventTypeStringKey(event) | translate}}
        </td>
        <td>
          {{event.time | date}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

