<div class="card">
  <div class="card-header">
    <i class="fa fa-car"></i>{{'VEHICLES' | translate}}
    <button type="button" class="btn btn-sm btn-success float-right ml-1" (click)="toggleSearch()">
      <i class="fa fa-search"></i>
      {{ searchButtonStringKey | translate }}
    </button>
    <button type="button" class="btn btn-sm btn-primary float-right" (click)="navigateToCreate()">
      <i class="fa fa-plus"></i>
      {{ 'ADD_VEHICLE' | translate }}
    </button>
  </div>
  <form class="card-body" [formGroup]="searchForm" (ngSubmit)="search()" *ngIf="isSearchOpen">

    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'MAKE' | translate}}</label>
          <input
            type="text"
            class="form-control"
            placeholder="{{'MAKE' | translate}}"
            formControlName="make">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'MODEL' | translate}}</label>
          <input
            type="text"
            class="form-control"
            placeholder="{{'MODEL' | translate}}"
            formControlName="model">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'LICENSE_PLATE' | translate}}</label>
          <input
            type="text"
            class="form-control"
            placeholder="{{'LICENSE_PLATE' | translate}}"
            formControlName="licensePlate">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'USER_NAME' | translate}}</label>
          <input
            type="text"
            class="form-control"
            placeholder="{{'USER_NAME' | translate}}"
            formControlName="userName">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'KM_COUNTER_FROM' | translate}}</label>
          <input
            type="number"
            min="0"
            class="form-control"
            placeholder="{{'KM_COUNTER_FROM' | translate}}"
            formControlName="kmCounterFrom">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'KM_COUNTER_TO' | translate}}</label>
          <input
            type="number"
            min="0"
            class="form-control"
            placeholder="{{'KM_COUNTER_TO' | translate}}"
            formControlName="kmCounterTo">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'INSPECTION_VALIDITY_FROM' | translate}}</label>
          <input
            type="date"
            class="form-control"
            placeholder="{{'INSPECTION_VALIDITY_FROM' | translate}}"
            formControlName="inspectionValidityFrom">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'INSPECTION_VALIDITY_TO' | translate}}</label>
          <input
            type="date"
            class="form-control"
            placeholder="{{'INSPECTION_VALIDITY_TO' | translate}}"
            formControlName="inspectionValidityTo">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="form-group">
          <label>{{'FUEL_TYPE' | translate}}</label>
          <select formControlName="fuelType" class="form-control" [compareWith]="SelectUtils.compareByValue">
            <option *ngFor="let fuelType of fuelTypes" [ngValue]="fuelType.value">
              {{ fuelType.key | translate }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-danger" (click)="resetSearch()">
        <i class="fa fa-ban"></i>
        {{ 'RESET' | translate }}
      </button>
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-search"></i>
        {{ 'SEARCH' | translate }}
      </button>
    </div>

  </form>
  <div class="card-body">
    <div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>{{'VEHICLE' | translate}}</th>
        <th class="d-none d-lg-table-cell">{{'FUEL_TYPE' | translate}}</th>
        <th tableSorter [stringKey]="'LICENSE_PLATE'" [sorterField]="'license_plate'" [sortingHelper]="sortingHelper" (sortingEvent)="loadVehicles()"></th>
        <th tableSorter [stringKey]="'KM_COUNTER'" [sorterField]="'km_counter'" [sortingHelper]="sortingHelper" (sortingEvent)="loadVehicles()" class="d-none d-md-table-cell"></th>
        <th class="text-center d-none d-sm-table-cell">{{'TYPE' | translate}}</th>
        <th class="text-center d-none d-xl-table-cell">{{'USER_NAME' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vehicle of vehicles" class="cursor-pointer selectable-row" (click)="goToVehicleDetail(vehicle.id)">
        <td>
          <div class="d-flex">
            <div *ngIf="getImage(vehicle.image_id)" class="header-image img-circle mr-2" [ngStyle]="{'background-image': ' url(' + getImage(vehicle.image_id) + ')'}"></div>
            <div *ngIf="!getImage(vehicle.image_id)" class="header-image img-circle mr-2" [ngStyle]="{'background-image': ' url(assets/img/car_image_placeholder.png)'}"></div>
            <div>{{vehicle.make}} {{vehicle.model}}</div>
          </div>
        </td>
        <td class="d-none d-lg-table-cell">
          {{vehicle.fuel_type | translate}}
        </td>
        <td>
          {{vehicle.license_plate}}
        </td>
        <td class="d-none d-md-table-cell">{{vehicle.km_counter | number}} km</td>
        <td class="text-center d-none d-sm-table-cell">
          <span *ngIf="vehicle.owner && vehicle.owner.id" class="badge badge-success">{{'PRIVATE' | translate}}</span>
          <span *ngIf="vehicle.organisation && vehicle.organisation.id"  class="badge badge-primary">{{'ORGANISATIONAL' | translate}}</span>
        </td>
        <td class="text-center d-none d-xl-table-cell">
          <a [routerLink]="" (click)="navigateToUserDetail(vehicle.creator_user_id)">{{vehicle.creator_user}}</a>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination [totalItems]="pagingHelper.totalItems" [(ngModel)]="pagingHelper.currentPage" [maxSize]="pagingHelper.maxSize" class="pagination"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>
