<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          {{'VEHICLE_DATA' | translate}}
        </div>
        <div class="card-body">
          <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()" id="vehicleForm" class="form-horizontal">

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'TYPE' | translate}}</label>
              <div class="col-md-8 col-form-label">
                <ng-container *ngIf="componentStateHelper.isCreateView() && hasOrganisation()">
                  <div class="form-check form-check-inline mr-3" id="inline-radios">
                    <input class="form-check-input" type="radio" name="type" id="private" value="private" formControlName="type">
                    <label class="form-check-label" for="private">{{'PRIVATE' | translate}}</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="type" id="organisational" value="organisational" formControlName="type">
                    <label class="form-check-label" for="organisational">{{'ORGANISATIONAL' | translate}}</label>
                  </div>
                </ng-container>
                <ng-container *ngIf="!componentStateHelper.isCreateView()">
                  <label class="col-md-8 pl-0">
                    <span *ngIf="vehicleModel.owner && vehicleModel.owner.id" class="badge badge-success">{{'PRIVATE' | translate}}</span>
                    <span *ngIf="vehicleModel.organisation && vehicleModel.organisation.id"  class="badge badge-primary">{{'ORGANISATIONAL' | translate}}</span>
                  </label>
                </ng-container>
                <ng-container *ngIf="componentStateHelper.isCreateView() && !hasOrganisation()">
                  <label class="col-md-8 pl-0">
                    <span class="badge badge-success">{{'PRIVATE' | translate}}</span>
                  </label>
                </ng-container>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'MAKE' | translate}}</label>
              <div class="col-md-8" *ngIf="componentStateHelper.isCreateView()">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('make', 'make')}"
                  (ngModelChange)="removeRemoteValidationError('make')"
                  type="text"
                  class="form-control"
                  placeholder="{{'MAKE' | translate}}"
                  formControlName="make">
                <ng-container *ngIf="hasLocalValidationError('make')">
                  <div *ngIf="make.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('make')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['make']}}</div>
                </ng-container>
              </div>
              <label *ngIf="!componentStateHelper.isCreateView()" class="col-md-8 col-form-label">{{ vehicleModel.make }}</label>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'MODEL' | translate}}</label>
              <div class="col-md-8" *ngIf="componentStateHelper.isCreateView()">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('model', 'model')}"
                  (ngModelChange)="removeRemoteValidationError('model')"
                  type="text"
                  class="form-control"
                  placeholder="{{'MODEL' | translate}}"
                  formControlName="model">
                <ng-container *ngIf="hasLocalValidationError('model')">
                  <div *ngIf="model.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('model')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['model']}}</div>
                </ng-container>
              </div>
              <label *ngIf="!componentStateHelper.isCreateView()" class="col-md-8 col-form-label">{{ vehicleModel.model }}</label>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'LICENSE_PLATE' | translate}}</label>
              <div class="col-md-8" *ngIf="!componentStateHelper.isReadonlyView()">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('licensePlate', 'license_plate')}"
                  (ngModelChange)="removeRemoteValidationError('license_plate')"
                  type="text"
                  class="form-control"
                  placeholder="{{'LICENSE_PLATE' | translate}}"
                  formControlName="licensePlate">
                <ng-container *ngIf="hasLocalValidationError('licensePlate')">
                  <div *ngIf="licensePlate.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('license_plate')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['license_plate']}}</div>
                </ng-container>
              </div>
              <label *ngIf="componentStateHelper.isReadonlyView()" class="col-md-8 col-form-label">{{ vehicleModel.license_plate }}</label>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'FUEL_TYPE' | translate}}</label>
              <div class="col-md-8" *ngIf="componentStateHelper.isCreateView()">
                <select class="form-control" formControlName="fuelType"
                        [compareWith]="SelectUtils.compareByValue"
                        [ngClass]="{ 'is-invalid': hasValidationError('fuelType', 'fuel_type')}"
                        (ngModelChange)="removeRemoteValidationError('fuel_type')">
                  <option value="">{{'UNSELECTED' | translate}}</option>
                  <option *ngFor="let fuelType of fuelTypes" [ngValue]="fuelType">
                    {{fuelType | translate}}
                  </option>
                </select>
                <ng-container *ngIf="hasLocalValidationError('fuelType')">
                  <div *ngIf="fuelType.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('fuel_type')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['fuel_type']}}</div>
                </ng-container>
              </div>
              <label *ngIf="!componentStateHelper.isCreateView()" class="col-md-8 col-form-label">{{ vehicleModel.fuel_type | translate }}</label>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">
                {{'FUEL_CAPACITY' | translate}} {{getFuelTypeMeasurement() ? '(' + getFuelTypeMeasurement() + ')' : ''}}
              </label>
              <div class="col-md-8" *ngIf="!componentStateHelper.isReadonlyView()">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('fuelCapacity', 'fuel_capacity')}"
                  (ngModelChange)="removeRemoteValidationError('fuel_capacity')"
                  type="number"
                  class="form-control"
                  placeholder="{{'FUEL_CAPACITY' | translate}}"
                  formControlName="fuelCapacity">
                <ng-container *ngIf="hasLocalValidationError('fuelCapacity')">
                  <div *ngIf="fuelCapacity.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('fuel_capacity')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['fuel_capacity']}}</div>
                </ng-container>
              </div>
              <label *ngIf="componentStateHelper.isReadonlyView()" class="col-md-8 col-form-label">{{ vehicleModel.fuel_capacity }}</label>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'KM_COUNTER' | translate}}</label>
              <div class="col-md-8" *ngIf="componentStateHelper.isCreateView()">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('kmCounter', 'km_counter')}"
                  (ngModelChange)="removeRemoteValidationError('km_counter')"
                  type="number"
                  class="form-control"
                  placeholder="{{'KM_COUNTER' | translate}}"
                  formControlName="kmCounter">
                <ng-container *ngIf="hasLocalValidationError('kmCounter')">
                  <div *ngIf="kmCounter.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('km_counter')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['km_counter']}}</div>
                </ng-container>
              </div>
              <label *ngIf="!componentStateHelper.isCreateView()" class="col-md-8 col-form-label">{{ vehicleModel.km_counter | number }} km</label>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label font-weight-light">{{'INSPECTION_VALIDITY' | translate}}</label>
              <div class="col-md-8" *ngIf="!componentStateHelper.isReadonlyView()">
                <input
                  [ngClass]="{ 'is-invalid': hasValidationError('inspectionValidity', 'inspection_validity')}"
                  (ngModelChange)="removeRemoteValidationError('inspection_validity')"
                  type="date"
                  class="form-control"
                  placeholder="{{'INSPECTION_VALIDITY' | translate}}"
                  formControlName="inspectionValidity">
                <ng-container *ngIf="hasLocalValidationError('inspectionValidity')">
                  <div *ngIf="inspectionValidity.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                </ng-container>
                <ng-container *ngIf="hasRemoteValidationError('inspection_validity')">
                  <div class="invalid-feedback">{{serverErrors.fieldErrors['inspection_validity']}}</div>
                </ng-container>
              </div>
              <label *ngIf="componentStateHelper.isReadonlyView()" class="col-md-8 col-form-label">{{ vehicleModel.inspection_validity }}</label>
            </div>

            <div class="form-group row" *ngIf="componentStateHelper.isReadonlyView()">
              <label class="col-md-4 col-form-label font-weight-light">{{'USER' | translate}}</label>
              <a class="ml-3" [routerLink]="" (click)="navigateToUserDetail(vehicleModel.creator_user_id)">{{vehicleModel.creator_user}}</a>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button *ngIf="!componentStateHelper.isReadonlyView()" type="submit" form="vehicleForm" class="btn btn-sm btn-success"><i class="fa fa-check"></i> {{ 'SAVE' | translate }}</button>
          <button *ngIf="!componentStateHelper.isReadonlyView()" type="button" (click)="navigateBack()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{ 'CANCEL' | translate }}</button>
          <button *ngIf="componentStateHelper.isReadonlyView() && (isAdmin() || isMine())" type="button" (click)="edit()" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> {{ 'EDIT' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="col-md-4" *ngIf="!componentStateHelper.isCreateView()">
      <div class="card">
        <div class="card-header">
          {{'VEHICLE_PICTURE' | translate}}
        </div>
        <div class="card-body">
          <div class="form-horizontal">

            <div *ngFor="let alert of alerts">
              <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <img [src]="vehiclePictureUrl || vehiclePicturePlaceholderUrl" class="img-fluid thumbnail" alt="{{'PROFILE_PICTURE' | translate}}">
              </div>
            </div>

            <form class="form-group row" [formGroup]="uploadForm" *ngIf="isAdmin() || isMine()">
              <div class="col-md-12">
                <input type="file" id="profile-picture-input" formControlName="vehiclePictureUpload" accept="image/x-png,image/gif,image/jpeg" (change)="handleFileInput($event.target.files)">
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer" *ngIf="(isAdmin() || isMine()) && vehiclePictureUrl">
          <button type="button" (click)="dangerModal.show()" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> {{ 'DELETE' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-4" *ngIf="componentStateHelper.isReadonlyView()">
      <tabset>
        <tab heading="{{'EVENTS' | translate}}">
          <app-vehicle-event-list *ngIf="vehicleModel.make"
                                  [vehicleModel]="vehicleModel">
          </app-vehicle-event-list>
        </tab>
        <tab heading="{{'JOURNEYS' | translate}}">
          <app-vehicle-journey-list *ngIf="vehicleModel.make"
                                  [vehicleModel]="vehicleModel">
          </app-vehicle-journey-list>
        </tab>
      </tabset>
    </div>
  </div><!--/.row-->
</div>

<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'DELETE_PICTURE' | translate }}</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'DELETE_CONFIRM' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">{{'CANCEL' | translate}}</button>
        <button type="button" class="btn btn-danger" (click)="deletePicture();dangerModal.hide()">{{'DELETE' | translate}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
