<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"
                           size="medium"
                           color="#fff"
                           type="ball-beat"
                           [fullScreen] = "false">
              </ngx-spinner>
              <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                  <alert *ngIf="loginReason === 'register_success'" [type]="'success'" [dismissible]="true">
                    {{'REGISTER_SUCCESS' | translate}}
                  </alert>

                  <alert *ngIf="loginReason === 'login_required'" [type]="'danger'" [dismissible]="true">
                    {{'LOGIN_REQUIRED' | translate}}
                  </alert>

                  <h1>{{'LOGIN' | translate}}</h1>
                  <p class="text-muted">{{'ACCOUNT_DATA' | translate}}</p>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input
                      [ngClass]="{ 'is-invalid': hasValidationError('userName', 'user_name')}"
                      (ngModelChange)="removeRemoteValidationError('user_name')"
                      type="text"
                      class="form-control"
                      placeholder="{{'USER_NAME' | translate}}"
                      formControlName="userName">
                    <ng-container *ngIf="hasLocalValidationError('userName')">
                      <div *ngIf="userName.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                    </ng-container>
                    <ng-container *ngIf="hasRemoteValidationError('user_name')">
                      <div class="invalid-feedback">{{serverErrors.fieldErrors['user_name']}}</div>
                    </ng-container>
                  </div>

                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input
                      [ngClass]="{ 'is-invalid': hasValidationError('password', 'password')}"
                      (ngModelChange)="removeRemoteValidationError('password')"
                      type="password"
                      class="form-control"
                      placeholder="{{'PASSWORD' | translate}}"
                      formControlName="password">
                    <ng-container *ngIf="hasLocalValidationError('password')">
                      <div *ngIf="password.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                    </ng-container>
                    <ng-container *ngIf="hasRemoteValidationError('password')">
                      <div class="invalid-feedback">{{serverErrors.fieldErrors['password']}}</div>
                    </ng-container>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4">{{'LOGIN' | translate}}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 register-hint">
              <div class="card-body text-center">
                <div>
                  <h2>{{'NO_ACCOUNT_HINT' | translate}}</h2>
                  <p>{{'REGISTER_HINT' | translate}}</p>
                  <button type="button" class="btn btn-primary active mt-3" (click)="onRegisterButtonClicked()">{{'REGISTER' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
