<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.4)"
                         size="medium"
                         color="#fff"
                         type="ball-beat"
                         [fullScreen] = "false">
            </ngx-spinner>
            <div class="card-body p-4">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <h1>{{'REGISTER' | translate}}</h1>
                <p class="text-muted">{{'ACCOUNT_DATA' | translate}}</p>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input
                    [ngClass]="{ 'is-invalid': hasValidationError('firstName', 'first_name')}"
                    (ngModelChange)="removeRemoteValidationError('first_name')"
                    type="text"
                    class="form-control"
                    placeholder="{{'FIRST_NAME' | translate}}"
                    formControlName="firstName">
                    <ng-container *ngIf="hasLocalValidationError('firstName')">
                      <div *ngIf="firstName.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                    </ng-container>
                    <ng-container *ngIf="hasRemoteValidationError('first_name')">
                      <div class="invalid-feedback">{{serverErrors.fieldErrors['first_name']}}</div>
                    </ng-container>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input
                    [ngClass]="{ 'is-invalid': hasValidationError('lastName', 'last_name')}"
                    (ngModelChange)="removeRemoteValidationError('last_name')"
                    type="text"
                    class="form-control"
                    placeholder="{{'LAST_NAME' | translate}}"
                    formControlName="lastName">
                    <ng-container *ngIf="hasLocalValidationError('lastName')">
                      <div *ngIf="lastName.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                    </ng-container>
                    <ng-container *ngIf="hasRemoteValidationError('last_name')">
                      <div class="invalid-feedback">{{serverErrors.fieldErrors['last_name']}}</div>
                    </ng-container>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input
                    [ngClass]="{ 'is-invalid': hasValidationError('userName', 'user_name')}"
                    (ngModelChange)="removeRemoteValidationError('user_name')"
                    type="text"
                    class="form-control"
                    placeholder="{{'USER_NAME' | translate}}"
                    formControlName="userName">
                    <ng-container *ngIf="hasLocalValidationError('userName')">
                      <div *ngIf="userName.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                    </ng-container>
                    <ng-container *ngIf="hasRemoteValidationError('user_name')">
                      <div class="invalid-feedback">{{serverErrors.fieldErrors['user_name']}}</div>
                    </ng-container>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input
                    [ngClass]="{ 'is-invalid': hasValidationError('email', 'email')}"
                    (ngModelChange)="removeRemoteValidationError('email')"
                    type="text"
                    class="form-control"
                    placeholder="{{'EMAIL' | translate}}"
                    formControlName="email">
                    <ng-container *ngIf="hasLocalValidationError('email')">
                      <div *ngIf="email.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                      <div *ngIf="email.errors.email" class="invalid-feedback">{{'ERROR_EMAIL' | translate}}</div>
                    </ng-container>
                    <ng-container *ngIf="hasRemoteValidationError('email')">
                      <div class="invalid-feedback">{{serverErrors.fieldErrors['email']}}</div>
                    </ng-container>
                </div>

                <p class="text-muted">{{'PASSWORD' | translate}}</p>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input
                    [ngClass]="{ 'is-invalid': hasValidationError('password', 'password')}"
                    (ngModelChange)="removeRemoteValidationError('password')"
                    type="password"
                    class="form-control"
                    placeholder="{{'PASSWORD' | translate}}"
                    formControlName="password">
                  <ng-container *ngIf="hasLocalValidationError('password')">
                    <div *ngIf="password.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                  </ng-container>
                  <ng-container *ngIf="hasRemoteValidationError('password')">
                    <div class="invalid-feedback">{{serverErrors.fieldErrors['password']}}</div>
                  </ng-container>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input
                    [ngClass]="
                      {
                        'is-invalid': hasValidationError('passwordConfirm', 'password_confirm')
                          || registerForm.errors && registerForm.errors.passwordMismatch && isTouched('passwordConfirm')
                      }"
                    (ngModelChange)="removeRemoteValidationError('password_confirm')"
                    type="password"
                    class="form-control"
                    placeholder="{{'PASSWORD_CONFIRM' | translate}}"
                    formControlName="passwordConfirm">
                  <ng-container *ngIf="hasLocalValidationError('passwordConfirm')">
                    <div *ngIf="passwordConfirm.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                  </ng-container>
                  <ng-container *ngIf="registerForm.errors && registerForm.errors.passwordMismatch">
                    <div class="invalid-feedback">{{'ERROR_PASSWORD_MISMATCH' | translate}}</div>
                  </ng-container>
                  <ng-container *ngIf="hasRemoteValidationError('password_confirm')">
                    <div class="invalid-feedback">{{serverErrors.fieldErrors['password_confirm']}}</div>
                  </ng-container>
                </div>

                <p class="text-muted">{{'DRIVING_LICENSE_EXPIRY' | translate}}</p>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-calendar"></i></span>
                  </div>
                  <input
                    [ngClass]="{ 'is-invalid': hasValidationError('drivingLicenseExpiry', 'driving_license_expiry')}"
                    (ngModelChange)="removeRemoteValidationError('driving_license_expiry')"
                    type="date"
                    class="form-control"
                    placeholder="{{'DRIVING_LICENSE_EXPIRY' | translate}}"
                    formControlName="drivingLicenseExpiry">
                  <ng-container *ngIf="hasLocalValidationError('drivingLicenseExpiry')">
                    <div *ngIf="drivingLicenseExpiry.errors.required" class="invalid-feedback">{{'ERROR_REQUIRED' | translate}}</div>
                  </ng-container>
                  <ng-container *ngIf="hasRemoteValidationError('driving_license_expiry')">
                    <div class="invalid-feedback">{{serverErrors.fieldErrors['driving_license_expiry']}}</div>
                  </ng-container>
                </div>

                <alert *ngIf="serverErrors.globalError" [type]="'danger'">
                  <div>
                    <strong>{{'VALIDATION_ERROR' | translate}}</strong>
                  </div>
                  <div>
                    {{ serverErrors.globalError }}
                  </div>
                </alert>

                <button type="submit" class="btn btn-block btn-success">{{'REGISTER' | translate}}</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
