<div class="animated fadeIn">
  <div class="d-flex mb-2 align-items-baseline">
    <h1 class="mr-2">{{'PAST_30_DAYS_STAT' | translate}}</h1>
    <h4 class="text-muted">({{ get30DaysAgo() | date}} - {{getToday() | date}})</h4>
  </div>
  <div class="row">
      <div class="col-6 col-lg-3">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="fa fa-calendar bg-danger p-4 font-2xl mr-3 float-left"></i>
            <div class="h5 text-danger mb-0 pt-3">{{eventCount}}</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">{{'EVENT' | translate}}</div>
          </div>
        </div>
      </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-exchange bg-info p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 pt-3">{{journeyCount}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">{{'JOURNEY' | translate}}</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-car bg-success p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-success mb-0 pt-3">{{kmCount | number}} KM</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">{{'TRAVELLED' | translate}}</div>
        </div>
      </div>
    </div>
    <!--/.col-->
      <div class="col-6 col-lg-3">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="fa fa-money bg-warning p-4 font-2xl mr-3 float-left"></i>
            <div class="h5 text-warning mb-0 pt-3">{{amountCount | number}} HUF</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">{{'EXPENSE' | translate}}</div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
  <h1 class="mb-2">{{'LATEST_EVENTS_JOURNEYS' | translate}}</h1>
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <app-dashboard-event-list></app-dashboard-event-list>
    </div>
    <div class="col-md-12 col-lg-6">
      <app-dashboard-journey-list></app-dashboard-journey-list>
    </div>
  </div>
</div>
